* {}

.top-logo {
    padding: 35px;
    margin-right: auto;
    color: #e5e7eb
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    justify-content: flex-end;
    padding-top: 50px;
    padding-left: 10rem;
    margin-right: 6rem;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

header {
    background: #1f2937;
}

.flex-box {}

.flex-box2 {}

.flex-box3 {}