* {
    margin: 0px;
}

.top-logo {
    padding: 35px;
    margin-right: auto;
    color: #e5e7eb
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    justify-content: flex-end;
    padding-top: 50px;
    padding-left: 10rem;
    margin-right: 6rem;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

header {
    background: #1f2937;
}

.flex-box {
    background: #1f2937;
    color: #e5e3eb;
}

.flex-box2 {
    background: white
}

.quote {
    background: #E5E7EB;
}

.flex-box3 {
    background: white
}

.sign-up-box {
    background: #3882f6;
}

button {
    background: #3882f6;
    color: #e5e3eb;
    border-radius: 6px;
    border-color: #e5e3eb;
}

footer {
    background: #1f2937;
    text-align: center;
    color: #e5e3eb;
}