* {
    margin: 0px;
}

.headimg {
    padding-left: 1200px;
}

h2 {
    text-align: center;
    margin: auto;
    padding: 4rem;
}

.top-logo {
    padding: 35px;
    margin-right: auto;
    color: #e5e7eb;
    font-size: 48px;
}

ul {
    display: flex;
    font-weight: 600;
}

li {
    list-style-type: none;
    justify-content: flex-end;
    padding-top: 50px;
    padding-left: 10rem;
    margin-right: 6rem;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

header {
    background: #1f2937;
}

.flex-box {
    padding: 6em;
    background: #1f2937;
    color: #e5e3eb;
}

.flex-box2 {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.quote {
    display: flex;
    background: #E5E7EB;
    justify-content: center;
    padding: 150px;
    font-size: 36px;
    font-weight: 500;
}

.chaac {
    padding-top: 200px;
}

.flex-box3 {
    background: white;
    padding: 6rem;
}

img {
    height: 100px;
    width: 100px;
}

.sign-up-box {
    background: #3882f6;
    border-radius: 6px;
    padding-top: 50px;
    padding-left: 100px;
    text-align: left;
    color: #e5e3eb;
}

.botbut {
    text-align: center;
    padding-bottom: 50px;
}

button {
    background: #3882f6;
    color: #e5e3eb;
    border-radius: 6px;
    border-color: #e5e3eb;
}

footer {
    background: #1f2937;
    text-align: center;
    color: #e5e3eb;
}